{% extends 'base.html' %}
{% block conteudo %}
<h5>Nova Turma</h5>
<hr>
<div class="border p-3">
<form action="/turma/salvar" method="post" class="form" enctype="multipart/form-data">
    <label for="link-turma" class="form-label">Link da turma:</label>
    <input type="url" name="link-turma" id="link-turma" class="form-control" required placeholder="Insira o Link da turma no SUAP" >
    <br>
    <fieldset>
        <legend>Turmas disponíveis</legend>
        {% for turma in turmas %}
            <div class="item p-2 m-2">
                <label for="turma-{{turma.turmaID}}" class="form-check-label">{{ turma.turmaInfo }}</label>
                <input type="radio" name="turma-select" id="turma-{{turma.turmaID}}" value="{{turma.turmaID}}" class="form-check-input" required>
            </div>
        {% endfor %}
    </fieldset>
    <br>
    <button type="submit" class="btn btn-primary">Prosseguir</button>
</form>
</div>
{% endblock %}