.navegacao{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 1;
    justify-content: space-between;
}
.navegacao div {
    display: flex;
    align-items: center;
    & .icon {
        display: flex;
        align-items: center;
    }
}

.container_loader{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
        radial-gradient(farthest-side,#766DF4 94%,#0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%,#766DF4);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
}

.div-etapa{
    width: 60%;
    background-color: #d4d4d4;
    margin: 8px 18px;
    padding: 10px;
}
.label-etapa {
    width: 90%;
    margin-left: 8px;
}

.table-turmas{
    width: 97%;
    background-color: #d4d4d4;
    margin: 8px auto;
    padding: 10px;
}
.label-turma{
    width: 100%;
    margin-left: 8px;
}


.div-box-info {
    border: #0005 solid 1px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: auto;
}

@keyframes s3{ 
    100%{transform: rotate(1turn)}
}
