{% extends 'base.html' %}
{% block conteudo %}
<h5>Software para Geração automática de grupos de alunos para atividades de Aprendizagem por Pares</h5>
<hr>
<form action="/gagap/analitc" method="post" enctype="multipart/form-data" class="border border-bottom-0 p-2 mb-5">
    <label for="planilha" class="form-label m-2">Arquivo para análise:</label>
    <input type="file" id="planilha" name="planilha" class="form-control" required accept=".xls">
    <label for="grupos" class="form-label m-2">Informe o número de grupos que você deseja formar:</label>
    <input type="number" id="grupos" name="grupos" class="form-control" min="2" required>
    <button type="submit" class="btn btn-primary my-3">Prosseguir</button>
</form>

{% endblock %}
