{% extends 'base.html' %}
{% block conteudo %}
    <div class="container mb-2">
      <h1 class="row mb-3">Sistema de Integração e Analise de Dados</h1>
    </div>
    <hr>
    <div class="container border">
        {% if json %}
            <h4 class="m-4">Notas detectadas!</h4>
            <form action="/registrar" method="post" class="form m-3">
                <fieldset class="border">
                    <legend>Escolha a turma</legend>
                    <table class="table table-striped" style="width: 60%;">
                        {% if turmas %}
                        {% for turma in turmas %}
                            <tr>
                                <td><label for="{{turma}}" class="form-check-label">{{ turma }}</label></td><td style="width: 10%"><input class="form-check-input" type="radio" value="{{turma}}" name="turma" id="{{turma}}" required></td>
                            </tr>
                        {% endfor %}
                        {% else %}
                            <tr><td>Ops! Parece que vocÊ não possui nenhuma turma registrada, clique em <strong>Turmas</strong> e faça seu registro!</td></tr>
                        {% endif %}
                    </table>
                    {% if turmas %}
                        <button type="submit" class="btn btn-success">Confirmar</button>
                    {% endif %}
                </fieldset>
            </form>
        {% else %}
            <div class="p-5">
                <h4>Bem-vindo ao SIAD!</h4>
                <span>Seu software que auxilia-rá no trabalho acadêmico!</span>
            </div>
            <div>
                <ul class="list">
                    <li>Acesse Turmas para registrar todas as suas turmas</li>
                    <li>Acesse Notar para registrar um arquivo de notas</li>
                    <li>Acesse GAGAP para verificar o software de Software para Geração automática de grupos de alunos para atividades de Aprendizagem por Pares</li>
                </ul>
            </div>
        {% endif %}
        
    </div>

    

{% endblock %}


