{% extends 'base.html' %}
{% block conteudo %}
    <div class="container mb-2">
      <h1 class="row mb-3">Selecione a Sala de aula qual você deseja trabalhar</h1>
      <div class="row">
        <div class="container col-sm-6">
          <h5 class="col">Já tem as notas salvas em arquivo '.csv'? Clique <a href="/arquivo/csv" class="link-success text-decoration-none">Aqui</a>!</h5>
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <h2>Não conseguimos te autenticar no google classroom</h2>
      <p>Caso queira baixar as notas pela internet, acesse este <a href="{{ url_for('autenticar') }}">link</a> para concluir a autenticação de acesso do sala de aula.</p>
    </div>
{% endblock %}


